.navbar {
  width: 100%;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 0.2);
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu > li {
  list-style: none;
  padding: 20px 54px;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.navbar-item {
  display: flex;
  align-items: center;
}
.navbar-item > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icon {
  margin-right: 6px;
}
